docs filter=lfs diff=lfs merge=lfs -text
MODULE_LICENSE_APACHE2 filter=lfs diff=lfs merge=lfs -text
seed filter=lfs diff=lfs merge=lfs -text
unicode-license.txt filter=lfs diff=lfs merge=lfs -text
readme.html filter=lfs diff=lfs merge=lfs -text
README.md filter=lfs diff=lfs merge=lfs -text
MODULE_LICENSE_ICU filter=lfs diff=lfs merge=lfs -text
MODULE_LICENSE_UNICODE filter=lfs diff=lfs merge=lfs -text
OWNERS filter=lfs diff=lfs merge=lfs -text
apache-license.txt filter=lfs diff=lfs merge=lfs -text
common filter=lfs diff=lfs merge=lfs -text
ICU-LICENSE filter=lfs diff=lfs merge=lfs -text
keyboards filter=lfs diff=lfs merge=lfs -text
METADATA filter=lfs diff=lfs merge=lfs -text
specs filter=lfs diff=lfs merge=lfs -text
CONTRIBUTING.md filter=lfs diff=lfs merge=lfs -text
exemplars filter=lfs diff=lfs merge=lfs -text
LICENSE filter=lfs diff=lfs merge=lfs -text
tools filter=lfs diff=lfs merge=lfs -text
